body {
    margin: 0px;
    background-color: lightblue;
}
header {
    width: 500px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#speed {
    margin-left: 5px;
}
table {
    border-collapse: collapse;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #e5e5e5;
}
th {
    font-family: sans-serif;
    background-color: #4CAF50;
    color: white;
}
ul {
    list-style: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 0px;
}
h4 {
    margin-left:auto;
    margin-right: auto;
    padding-left: 100px;
}
.list-heading {
    width: 480px;
    font-family: sans-serif;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 5px;
    height: 23px;
}
li:nth-child(even) {
    background-color: #f2f2f2;
    width: 480px;
    padding-left: 20px;
    height: 25px;
}
li:nth-child(odd) {
    background-color: #e5e5e5;
    width: 480px;
    padding-left: 20px;
    height: 25px;
}
span {
    font-family: sans-serif;
    font-weight: 600;
}
#fast {
    padding-left: 5px;
}
#sliderWithLabels {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 200px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #C81E1E;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #C81E1E;
}
input[type=range]::-moz-range-track {
    width: 200px;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #C81E1E;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 200px;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #C81E1E;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #C81E1E;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
